  <body> 
    <div class='content'>
          <div class='about'>
            <img id='author' src='IMG_1029.JPG' alt='A picture of the author'>
            <p class="greeting"><em>Hello!</em></p>
            <p>My name is Mason, I hope you're well! I'm currently visitng the great continent of Europa for a study abroad program in Copenhagen followed by a short stint in Iceland.
               The last time that I went to Europe I was four years old, so I've taken it upon myself to share with you everything I learned about international travel during that time. 
               It's me and it's you and we're on the go!</p>
          </div>
        </div>
</body> 