<body>
    {{#each posts}}
      <div class='content'>
        <article class='post'>
            <h2 class="post-title">{{title}}</h2>
            <p class='post-timestamp'>{{publishAt}}</p>
            {{{body}}}
        </article>
      </div>
    {{/each}}
</body>
