* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    margin: 0 10%;
    width: 80%;
    max-width: 1200px;  
    font-size: 18px;  
}

.header {
    display: flex;
    justify-content: space-between;
    /* background-color: #839098; */
    color: white;
    background-color: black;
    padding: 20px;
}

#author {
    width: 30%;
    height: 30%;
    overflow: auto;
    float: left; 
    padding-right: 20px;
    padding-bottom: 20px;
}

#fashion-shot {
    transform: rotate(90deg);
    width: 50%;
    height: 50%;
    overflow: auto;
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;
}

.border-red {
    border-left: 5px solid #ED4B3A;
}

.border-yellow {
    border-left: 5px solid #F5C023;
}

.border-blue {
    border-left: 5px solid #0380BC;
}

/* pseudo classes to style links */

a:link {
    text-decoration: none;
}

.header a:visited {
    color: white;
}

a:visited {
    color: black;
}

a:visited:hover {
    color: aqua;
}

a:active {
    color: red;
}

ul {
    list-style-type: none;
}

ol {
    padding-left: 35px
}

body {
    font-family: Helvetica;
    background-image: url(circles.svg);
}

p {
    padding: 10px;
}

.post, .itinerary, .about {
    margin: 2em 1em;
    padding: 2em;
    background-color: #BFCACE;
    overflow: auto;
}

/* descendant selector */

.about em {
    font-size: 2em;
    font-style: normal;
}

.header-link {
    text-decoration: none;
}

.navigation {
    display: flex;
}

.navigation-item {
    margin: 10px 10px;
}