* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10%;
    flex: 1 0 auto;
    width: 80%;
    max-width: 1200px;  
}

.header-container {
    width: 100%;
}

.header {
    color: white;
    background-color: black;
    padding: 20px;
}

#fashion-shot {
    transform: rotate(90deg);
    width: 50%;
    height: 50%;
    overflow: auto;
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;
}

a:visited, a:link {
    color: black;
    text-decoration: none;
}

.header a:visited {
    color: white;
}

a:visited:hover {
    color: cyan;
}

.header-title a:visited:hover {
    color: #ED4B3A;
}

.navigation-itinerary a:visited:hover {
    color: #F5C023;
}

.navigation-about a:visited:hover {
    color: #0380BC;
}

a:active {
    color: red;
}

h1, h2, .navigation-itinerary, .navigation-about, .greeting {
    font-family: 'Lobster', cursive;
}

.navigation-itinerary, .navigation-about, .post-title, .itinerary-title{
    font-size: 1.5em;
}

ul {
    list-style-type: none;
}

ol {
    padding-left: 35px
}

body {
    display: flex;
    flex-direction: column;
    font-family: Helvetica;
    background-image: url(circles.svg);
    background-size: 120%;
    background-position-y: -1800px;
}

p {
    padding: 10px;
}

.post, .itinerary, .about {
    margin: 1em 1em;
    padding: 2em;
    background-color: #BFCACE;
    overflow: auto;
    height: 30%;
}

.content {
    padding: 10px;
}

.about em {
    font-size: 3em;
    font-weight: bold;
}

.header-link {
    text-decoration: none;
}

.header-title {
    font-family: 'Lobster', cursive;
    padding: 8px;
    border: 1px solid white;
}

.navigation {
    display: flex;
}

.navigation-itinerary, .navigation-about {
    margin: 10px 10px;
    padding: 8px;
}

.footer {
    bottom: 0;
    text-align: center;
    width: 250px;
    border: 1px solid black;
    margin: 10px auto 20px auto;
    flex-shrink: 0;
    height: 45px;
}



@media only screen and (max-width: 960px) {
    .header {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .navigation-about {
        text-align: center;
    }

    .fixed-footer {
        position: static;
    }

    .container {
        font-size: 18px;  
    }
    
    .header {
        padding: 5px;
    }

    #author {
        width: 100%;
        height: 100%;
        margin: 0 auto;
    }

    .about {
        display: block;
        flex-direction: column;
    }
}

@media only screen and (min-width: 401px) {
    .header {
        display: flex;
        justify-content: space-between;
    }

    #author {
        width: 30%;
        height: 30%;
        overflow: auto;
        float: left; 
        padding-right: 20px;
        padding-bottom: 20px;
    }

    .border-red {
        border-right: 5px solid #ED4B3A;
    }
    
    .border-yellow {
        border-right: 5px solid #F5C023;
    }
    
    .border-blue {
        border-right: 5px solid #0380BC;
    }

    .container {
        font-size: 18px;  
    }

    #author {
        width: 30%;
        height: 30%;
        overflow: auto;
        float: left; 
        padding-right: 20px;
        padding-bottom: 20px;
    }
}